<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Minion Shop", root_path, class: 'navbar-brand' %>
      <div id="div-mobile" class="navbar-brand carrinho">
        <%= link_to basket_index_path, title: "Cesta de compras", data: { toggle: 'tooltip', placement: 'botton' } do %>
          <i class="fa fa-shopping-cart"></i>&nbsp;<%= session[:basket_total] || 0 %>
        <% end %>
      </div>
    </div>


    <div class="collapse navbar-collapse" id="navbarCollapse">

      <ul class="nav navbar-nav navbar-right">
        <li id="basket_total">
          <%= link_to basket_index_path, title: "Cesta de compras", data: { toggle: 'tooltip', placement: 'botton' } do %>
            <i class="fa fa-shopping-cart"></i>&nbsp;<%= session[:basket_total] || 0 %>
          <% end %>
        </li>

        <% if user_signed_in? %>
          <li>
            <%= link_to edit_user_registration_path, title: "Editar meus dados", data: { toggle: 'tooltip', placement: 'botton' } do %>
              <i class="fa fa-user"></i>&nbsp;<%= current_user.name %>
            <% end %>

          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete, title: "Logout", data: { toggle: 'tooltip', placement: 'botton' } do %>
              <i class="fa fa-sign-out"></i>&nbsp;Logout
            <% end %>
          </li>
        <% else %>
          <li>
            <a href="<%= new_user_registration_path %>">Sign Up</a>
          </li>
          <li>
            <a href="<%= new_user_session_path %>">Login</a>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</nav>



